
@model WEB2.Models.TaiKhoan
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">

            <div class="col-lg-6 text-center text-lg-start">
                <div class="row g-3">

                    @using (Html.BeginForm("XuLySignUp", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {/*new { enctype="multipart/form-data" } tạo để mã hóa ảnh*/
                        @Html.AntiForgeryToken()
                        <form class="row g-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="inputGroupFile01">Upload Avatar</label>
                                <input class="form-control " type="file" id="inputGroupFile01" name="avatar" />
                                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="SDT">Your phone number</label>
                                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control ", @placeholder = "(+84)", @autocomplete = "off", @autofocus = "", @Id = "SDT" } })
                                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="email">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "email@gmail.com", @autocomplete = "off", @Id = "email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="address">Address</label>
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @placeholder = "The address where you can get the food", @autocomplete = "off", @Id = "address" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="pw">Password</label>
                                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password", @autocomplete = "off", @Id = "pw" } })

                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="rpw">Re-Enter Password</label>
                                <input class="form-control" placeholder="Re-enter Password" name="rpw" type="password" autocomplete="off" Id="rpw" />
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group p-1">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3" style="float: left">Register</button>
                                    <a href="~/Contact/">Help?</a>
                                    <a href="~/SignIn/" style="opacity:0.5;float:right" class="btn btn-primary mb-3">Sign In</a>
                                </div>
                            </div>
                        </form>
                    }
                    <div>
                        <a href="~/Menu/">Back to Menu </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/asset/img/hero.png" alt="">
            </div>
        </div>
    </div>
    </div>
