@{ 
    var listgiohang= (List<WEB2.Models.ChiTietGioHang>)ViewBag.listgiohang;
}
<div class="container">

    <h2 class="text-center">WELLCOME TO YOUR SHOPPING CART </h2>


    <table class="table">
        <tr>


            <th>
                Tên Món Ăn
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Ghi Chú
            </th>
            <th>
                Thời gian đặt món
            </th>
            <th>
               Thay đổi lần cuối
            </th>
        </tr>

        @{
            foreach (var item in listgiohang)
            {
                var Dollar = String.Format("{0,0:0.0}", (float)(item.Gia / 24000));
                <tr>
                    <td >
                        @item.MonAn.TenMonAn
                    </td>
                    <td>
                        <img style="border-radius: 20px; width: 70%; height: 100px; margin: auto; object-fit:cover" src="@item.MonAn.AnhMonAn" ; alt="404" />
                    </td>
                    <td class="text-center">
                        @item.SoLuong
                    </td>
                    <td>
                        @String.Format("{0:0,0}", item.Gia) VND or @Dollar $
                    </td>
                    <td>
                        @item.GhiChu
                    </td>
                    <td>
                        @item.NgayDat
                    </td>
                    <td>
                        @item.ThayDoiCuoiCung
                    </td>
                </tr>
            }
        }

    </table>

</div>