
@model WEB2.Models.TaiKhoan
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">

            <div class="col-lg-6 text-center text-lg-start">
                <div class="row g-3">

                    @using (Html.BeginForm("XuLySignIn", "SignIn", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <form class="row g-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-auto p-1">
                                <label style="float:left" for="SDT">Your phone number</label>
                                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control ", @Id = "SDT", @autofocus = "" } })
                                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-auto p-1">
                                <label style="float: left" for="pw">Your password</label>
                                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @type = "password", @autocomplete = "off", @Id = "pw" } })
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group p-1">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3" style="float: left">Sign In</button>
                                    <a href="~/Contact/">Forgot password.</a>
                                    <a href="~/Contact/">Help?</a>
                                    <a href="~/SignUp/" style="opacity:0.5;float:right" class="btn btn-primary mb-3">Register</a>
                                </div>
                            </div>
                        </form>
                    }
                    
                                        <div>
                                            <a href="~/Menu/">Back to Menu </a>
                                        </div>
                    
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/asset/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

