
<div class="container-xxl position-relative p-0">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
            <!-- <img src="/img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="~/Home/" class="nav-item nav-link @Html.Raw(ViewBag.pages == "Home" ? "active" : "")">Home</a>
                <a href="~/About/" class="nav-item nav-link @Html.Raw(ViewBag.pages == "About" ? "active" : "")">About</a>
                <a href="~/Service/" class="nav-item nav-link @Html.Raw(ViewBag.pages == "Service" ? "active" : "")">Service</a>
                <a href="~/Menu/" class="nav-item nav-link @Html.Raw(ViewBag.pages == "Menu" ? "active" : "")">Menu</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle @Html.Raw(ViewBag.pages == "Booking" || ViewBag.pages == "Team" ||ViewBag.pages == "Testimonial"? "active" : "")" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="~/Booking/" class="dropdown-item @Html.Raw(ViewBag.pages == "Booking" ? "active" : "")">Booking</a>
                        <a href="~/Team/" class="dropdown-item @Html.Raw(ViewBag.pages == "Team" ? "active" : "")">Our Team</a>
                        <a href="~/Testimonial/" class="dropdown-item @Html.Raw(ViewBag.pages == "Testimonial" ? "active" : "")">Testimonial</a>
                    </div>
                </div>
                <a href="~/Contact/" class="nav-item nav-link @Html.Raw(ViewBag.pages == "Contact" ? "active" : "")">Contact</a>
            </div>
            <a href="~/SignUp/" class="btn btn-primary py-2 px-4  p-2">SignUp</a>

            @{
                if (Session["usr"] != null)//đã đăng nhập
                {
                    <a href="~/LogOut/XuLyLogOut" class="btn text-danger">LogOut</a>
                      <a href="~/Cart/" class="btn text-light"><i style="font-size:25px;"class="bi bi-bag-check-fill"></i></a>
                }
                else// chưa đăng nhập
                {
                    <a href="~/SignIn/" class="btn btn-primary py-2 px-4 p-2">SignIn</a>
                }
            }
        </div>
    </nav>

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        @*Nếu dùng section
        @Html.Raw(ViewBag.pages == "Home" ? RenderSection("Spin", true) : RenderSection("Spin", false))*@

        @if (ViewBag.pages != "Home")
        {
            Html.RenderPartial("_Partial/_PartialTree");
        }
        else
        {
            Html.RenderPartial("_Partial/_PartialSpin");
        }
    </div>
</div>